*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

img {max-width: 100%;}

/* Override default gridlex columns */
[class*col] {padding: 0;}

html {scroll-behavior: smooth;}

/*----------------------------Utlity Classes ----------------------*/
/*  Padding  */
.padded-sm      {padding: 1.5%;}
.padded-md      {padding: 2.5%;}
.padded         {padding: 5%;}
.padded-lg      {padding: 10%;}

.padded-sm-rem  {padding: 0.5rem;}
.padded-rem     {padding: 1rem;}
.padded-lg-rem  {padding: 2rem;}

.padded-t       {padding-top: 5%;}   
.padded-b       {padding-bottom: 5%;}  
.padded-l       {padding-left: 5%;}  
.padded-r       {padding-right: 5%;}  

.padded-t-1      {padding-top: 1rem;}   
.padded-b-1      {padding-bottom: 1rem;}  
.padded-l-1      {padding-left: 1rem;;}  
.padded-r-1      {padding-right: 1rem;}  

.padded-t-2      {padding-top: 2rem;}   
.padded-b-2      {padding-bottom: 2rem;}  
.padded-l-2      {padding-left: 2rem;;}  
.padded-r-2      {padding-right: 2rem;}  

.padded-t-0      {padding-top: 0rem;}   
.padded-b-0      {padding-bottom: 0rem;}  
.padded-l-0      {padding-left: 0rem;;}  
.padded-r-0      {padding-right: 0rem;}  

.padded-tb      {padding-top: 5%; padding-bottom: 5%;}   
.padded-lr      {padding-left: 5%; padding-right: 5%;}  

/* Margin */
.margin-t       {margin-top: 5%;}   
.margin-b       {margin-bottom: 5%;}  
.margin-l       {margin-left: 5%;}  
.margin-r       {margin-right: 5%;} 

.margin-t-1      {margin-top: 1rem;}   
.margin-b-1      {margin-bottom: 1rem;}  
.margin-l-1      {margin-left: 1rem;;}  
.margin-r-1      {margin-right: 1rem;}

.margin-t-2      {margin-top: 2rem;}   
.margin-b-2      {margin-bottom: 2rem;}  
.margin-l-2      {margin-left: 2rem;;}  
.margin-r-2      {margin-right: 2rem;} 

.margin-t-0      {margin-top: 0rem;}   
.margin-b-0      {margin-bottom: 0rem;}  
.margin-l-0      {margin-left: 0rem;;}  
.margin-r-0      {margin-right: 0rem;} 

.margin-tb      {margin-top: 5%; margin-bottom: 5%;}   
.margin-lr      {margin-left: 5%; margin-right: 5%;} 

/* minimum height */
.tall-10 {min-height: 10vh;}
.tall-20 {min-height: 20vh;}
.tall-30 {min-height: 30vh;}
.tall-40 {min-height: 40vh;}
.tall-50 {min-height: 50vh;}
.tall-60 {min-height: 60vh;}
.tall-70 {min-height: 70vh;}
.tall-80 {min-height: 80vh;}
.tall-90 {min-height: 90vh;}

/*-------------------Typography classes -------------------------  */
.text-left      {text-align: left;}
.text-right     {text-align: right;}
.text-center    {text-align: center;}


body            {font-family: 'Source Sans Pro', sans-serif;
                color:#373b46}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.2rem;
    line-height: 1.1;
}

h2 {font-size: 3rem;}

h4 {font-size: 2rem;}
h5 {font-size: 1.2rem;}

p {
    margin-bottom: 1rem;
    line-height: 1.3;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
    margin-bottom: 0;
}



.big-text {font-size: 8rem;}
.small-text {font-size: 0.8rem;}
.light-text {color: #dbd4ca;}


/*---------------Image Classes ----------------- */
.bg-image {
    background-color: rgb(40, 40, 20);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40vh;
}

.bg-dark {
    background-color: #2A2C24;
    color: #dbd4ca;
}

.bg-medium {
    background-color: #344224;
    color: #dbd4ca;
}

.bg-light {
    background-color: #8c7b69;
    color: #dbd4ca;
}

.bg-logo {
    background-image: url(/images/Logo.PNG);
    background-size: 300px;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    min-height: 10vh;
}

.bg-banner {
    background-image: url(/images/building.PNG);
    min-height: 80vh;
    background-position: 50% 75%;
}

.bg-mision {
    background-image: url(/images/Mission.jpg);
}

.bg-vision {
    background-image: url(/images/Vision.jpg);
}

.bg-dormitorio {
    background-image: url(/images/dormitorio.PNG);
}

.bg-building {
    background-image: url(/images/building.PNG);
}

.bg-gym {
    background-image: url(/images/gym.PNG);
}

.bg-parqueo {
    background-image: url(/images/parqueo.PNG);
}

.bg-sala {
    background-image: url(/images/Sala.PNG);
}

.bg-socialarea {
    background-image: url(/images/SocialArea.PNG);
}

.bg-night {
    background-image: url(/images/night.jpg);
}

.bg-terrace {
    background-image: url(/images/terrace.jpg);
    background-position: 50% 70%;
}

.bg-president {
    background-image: url(/images/president.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    border-radius: 115rem;
}

.bg-ceo {
    background-image: url(/images/CEO.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    border-radius: 115rem;
}

.bg-cfo {
    background-image: url(/images/CFO.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    border-radius: 115rem;
}

.bg-room {
    background-image: url(/images/roomstructure.PNG);
    min-height: 40vh;
}


.bg-map {
    background-image: url(/images/map.jpg);
}


.gallery [class*="col-"] {
    padding: 0.5%;
}




/*-------Section Styles ----------------*/
nav a {
    margin-left: 1rem;
    margin-right: 1rem;
    color: inherit;
    text-decoration: none;
}

nav a:hover{
    color:#a1bb83;
}

h1 span {
    display: block;
    font-size: 2rem;
    line-height: 0.9;
}

/*------------Button & Icon Styles ----------------- */
.button {
    color: #2A2C24;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    border: 1px solid #2A2C24;
    border-radius: 10rem;
    padding: 0.8rem 4rem;
    display: inline-block;
    transition: all 0.2s
}

.button:hover {
    color:#a1bb83;
    border: 1px solid #a1bb83;
}

.bg-click:hover {
    border: 2px solid #2A2C24;
}


.fas {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem;
}

input,
textarea {
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 0.9rem;
    border: 2px solid transparent;
}

input:focus,
textarea:focus {
    border: 2px solid #a1bb83;
    outline: none;
}
