*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

img {max-width: 100%;}

/* Override default gridlex columns */
[class*col] {padding: 0;}

html {scroll-behavior: smooth;}

/*----------------------------Utlity Classes ----------------------*/
/*  Padding  */
.padded-sm      {padding: 1.5%;}
.padded-md      {padding: 2.5%;}
.padded         {padding: 5%;}
.padded-lg      {padding: 10%;}

.padded-sm-rem  {padding: 0.5rem;}
.padded-rem     {padding: 1rem;}
.padded-lg-rem  {padding: 2rem;}

.padded-t       {padding-top: 5%;}   
.padded-b       {padding-bottom: 5%;}  
.padded-l       {padding-left: 5%;}  
.padded-r       {padding-right: 5%;}  

.padded-t-1      {padding-top: 1rem;}   
.padded-b-1      {padding-bottom: 1rem;}  
.padded-l-1      {padding-left: 1rem;;}  
.padded-r-1      {padding-right: 1rem;}  

.padded-t-2      {padding-top: 2rem;}   
.padded-b-2      {padding-bottom: 2rem;}  
.padded-l-2      {padding-left: 2rem;;}  
.padded-r-2      {padding-right: 2rem;}  

.padded-t-0      {padding-top: 0rem;}   
.padded-b-0      {padding-bottom: 0rem;}  
.padded-l-0      {padding-left: 0rem;;}  
.padded-r-0      {padding-right: 0rem;}  

.padded-tb      {padding-top: 5%; padding-bottom: 5%;}   
.padded-lr      {padding-left: 5%; padding-right: 5%;}  

/* Margin */
.margin-t       {margin-top: 5%;}   
.margin-b       {margin-bottom: 5%;}  
.margin-l       {margin-left: 5%;}  
.margin-r       {margin-right: 5%;} 

.margin-t-1      {margin-top: 1rem;}   
.margin-b-1      {margin-bottom: 1rem;}  
.margin-l-1      {margin-left: 1rem;;}  
.margin-r-1      {margin-right: 1rem;}

.margin-t-2      {margin-top: 2rem;}   
.margin-b-2      {margin-bottom: 2rem;}  
.margin-l-2      {margin-left: 2rem;;}  
.margin-r-2      {margin-right: 2rem;} 

.margin-t-0      {margin-top: 0rem;}   
.margin-b-0      {margin-bottom: 0rem;}  
.margin-l-0      {margin-left: 0rem;;}  
.margin-r-0      {margin-right: 0rem;} 

.margin-tb      {margin-top: 5%; margin-bottom: 5%;}   
.margin-lr      {margin-left: 5%; margin-right: 5%;} 

/* minimum height */
.tall-10 {min-height: 10vh;}
.tall-20 {min-height: 20vh;}
.tall-30 {min-height: 30vh;}
.tall-40 {min-height: 40vh;}
.tall-50 {min-height: 50vh;}
.tall-60 {min-height: 60vh;}
.tall-70 {min-height: 70vh;}
.tall-80 {min-height: 80vh;}
.tall-90 {min-height: 90vh;}

/*-------------------Typography classes -------------------------  */
.text-left      {text-align: left;}
.text-right     {text-align: right;}
.text-center    {text-align: center;}


body            {font-family: 'Source Sans Pro', sans-serif;
                color:#373b46}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.2rem;
    line-height: 1.1;
}

h2 {font-size: 3rem;}
h3 {font-size: 2.2rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.2rem;}

p {
    margin-bottom: 1rem;
    line-height: 1.3;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
    margin-bottom: 0;
}

.big-text {font-size: 8vw;}
.light-text {color: #c3b8a7;}


/*---------------Image Classes ----------------- */
.bg-image {
    background-color: rgb(40, 40, 20);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40vh;
}

.bg-dark {
    background-color: #2A2C24;
    color: #dbd4ca;
}

.bg-light {
    background-color: #8c7b69;
    color: #dbd4ca;
}

.bg-logo {
    background-image: url(/images/Logo.PNG);
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 80px;
}

.bg-banner {
    background-image: url(/images/building.PNG);
    min-height: 80vh;
    background-position: 50% 75%;
}

.bg-mision      {    background-image: url(/images/mision.jpg);}
.bg-vision      {    background-image: url(/images/vision.jpg);}
.bg-dormitorio  {    background-image: url(/images/dormitorio.PNG);}
.bg-building    {    background-image: url(/images/building.PNG);}
.bg-gym         {    background-image: url(/images/gym.PNG);}
.bg-parqueo     {    background-image: url(/images/parqueo.PNG);}
.bg-sala        {    background-image: url(/images/Sala.PNG);}
.bg-socialarea  {    background-image: url(/images/SocialArea.PNG);}
.bg-night       {    background-image: url(/images/night.jpg);}
.bg-map         {    background-image: url(/images/map.jpg);}

.bg-terrace {
    background-image: url(/images/terrace.jpg);
    background-position: 50% 70%;
}

.bg-president {
    background-image: url(/images/president.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    border-radius: 115rem;
}

.bg-ceo {
    background-image: url(/images/CEO.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    border-radius: 115rem;
}

.bg-cfo {
    background-image: url(/images/CFO.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    border-radius: 115rem;
}

.bg-room {
    background-image: url(/images/roomstructure.PNG);
    min-height: 40vh;
}

.gallery [class*="col-"] {
    padding: 0.5%;
}


/*-------Section Styles ----------------*/
nav {font-size: 0.9rem;}

nav a {
    margin-left: 1rem;
    margin-right: 1rem;
    color: inherit;
    text-decoration: none;
}

nav a:hover{
    color:#a1bb83;
}

h1 span {
    display: block;
    font-size: 3vw;
    line-height: 0.9;
}

/*------------Button & Icon Styles ----------------- */
.button {
    color: #2A2C24;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    border: 1px solid #2A2C24;
    border-radius: 10rem;
    padding: 0.8rem 4rem;
    display: inline-block;
    transition: all 0.2s
}

.button:hover {
    color:#a1bb83;
    border: 1px solid #a1bb83;
}

.bg-click:hover {
    border: 2px solid #2A2C24;
}


.fas {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem;
}

input,
textarea {
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 0.9rem;
    border: 2px solid transparent;
}

input:focus,
textarea:focus {
    border: 2px solid #a1bb83;
    outline: none;
}


/* ------- MD Media Query (64em / 1024px) --------------- */ 
@media (max-width: 64em) {
    /* Temporary visual hint for responsive editing, delete later */
    /* body {
        border: 2px solid green;
    } */

    .md-tall-50 {min-height: 50vh;}

    h2 {font-size: 1.9rem;}
    h3 {font-size: 1.7rem;}
    h4 {font-size: 1.8rem;}
    p {font-size: 0.9rem;}

    .fas {font-size: 2.8rem;    }
    

    .bg-banner { min-height: 60vh; }
    .bg-president {min-width: 20vw;}
    .bg-ceo {min-width: 20vw;}
    .bg-cfo {min-width: 20vw;}
    

    .button {padding: 0.6rem 3rem;}
}

/* ------- SM Media Query (48em / 768px) --------------- */ 
@media (max-width: 48em) {
    /* Temporary visual hint for responsive editing, delete later */
    /* body {
        border: 2px solid blue;
    } */

    .sm-text-center { text-align: center; }
    .sm-text-left   { text-align: left; }
    .sm-text-right  { text-align: right; }

    .bg-logo {
        background-size: contain;
        min-height: 40px;
        width: 100%;
        margin-left: 40%;
        /* height: auto; */
    }
    .bg-banner {min-height: 40vh; }
   
    .sm-tall-40 {min-height: 40vh;}

    .hide-sm { display: none;  }

    .flex-flip-sm { flex-direction: column-reverse; }

    h1 {font-size: 1.2rem;}
    h2 {font-size: 1.9rem;}
    h3 {font-size: 1.6rem;}
    h4 {font-size: 1.6rem;}
    p {font-size: 0.8rem;}

    .fas {
        font-size: 2.5rem;
    }
    
    footer h3 {font-size: 1.3rem;}
    footer p {font-size: 0.8rem;}

    .button {padding: 0.5rem 2.5rem; }
    a.button {font-size: 0.8rem;}

    .sm-lineheight {line-height: 0.8;}

}

/* ------- XS Media Query (36em / 576px) --------------- */ 
@media (max-width: 36em) {
    /* Temporary visual hint for responsive editing, delete later */
    /* body {
        border: 2px solid lightblue;
    } */

    .bg-logo {
        background-size: contain;
        min-height: 40px;
        width: 100%;
        margin-left: 35%;
        /* height: auto; */
    }

    .bg-image {min-height: 20vh;}
    .xs-tall-30 {min-height: 30vh;}

    .hide-xs { display: none;  }

    .fas {
        font-size: 2rem;
    }
    
    h1 {font-size: 1rem;}
    h2 {font-size: 1.7rem;}
    h3 {font-size: 1.2rem;}
    h4 {font-size: 1.4rem;}
    p {font-size: 0.8rem;
}

    footer h3 {font-size: 1rem;}
    footer p {font-size: 0.7rem;}

    .button {padding: 0.5rem 2rem;}
    a.button {font-size: 0.7rem;}
}

